security:

    encoders:
        App\Entity\User:
            algorithm: bcrypt

    # https://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        custom_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            pattern: ^/
            logout:
                path:   /connect/logout
                target: /
            guard:
                authenticators:
                    - App\Security\GoogleAuthenticator

    role_hierarchy:
        # Minimum roles for any authenticate user
        ROLE_MIN:
        
        # Users that do only cleanings
        ROLE_CLEANING:
          - ROLE_MIN
        
        # Users that are only checker
        ROLE_CHECKER:
          - ROLE_MIN
        
        # Users that are checker and do cleanings
        ROLE_CLEANING_CHECKER:
          - ROLE_CLEANING
          - ROLE_CHECKER
          
        ROLE_USER:
          - ROLE_MIN  
          - ROLE_VIEW_HOST
          - ROLE_EDIT_HOST
          - ROLE_VIEW_PROPERTY
          - ROLE_EDIT_PROPERTY
          - ROLE_VIEW_EXTRACHARGE
          - ROLE_EDIT_EXTRACHARGE
          - ROLE_VIEW_RESERVATION
          - ROLE_EDIT_RESERVATION
          - ROLE_VIEW_CLEANING
          - ROLE_EDIT_CLEANING
          - ROLE_VIEW_IMPORTPRICE
          - ROLE_EDIT_IMPORTPRICE
          - ROLE_INVOICES
          - ROLE_DELETE_CLEANING
          - ROLE_DELETE_EXTRACHARGE
          - ROLE_VIEW_CLEANINGPRESTA
          - ROLE_EDIT_CLEANINGPRESTA
          - ROLE_VIEW_CHECKER
          - ROLE_EDIT_CHECKER
          - ROLE_VIEW_CHECKIN
          - ROLE_EDIT_CHECKIN
          - ROLE_REPORTING
          
        ROLE_ADMIN:
          - ROLE_USER
          - ROLE_VIEW_USER
          - ROLE_EDIT_USER
          - ROLE_VIEW_MARKET
          - ROLE_EDIT_MARKET
          - ROLE_DELETE_MARKET
          - ROLE_DELETE_HOST
          - ROLE_DELETE_PROPERTY
          - ROLE_DELETE_RESERVATION
          - ROLE_DELETE_IMPORTPRICE
          - ROLE_VIEW_CRON
          - ROLE_EDIT_CRON
          - ROLE_DELETE_CLEANINGPRESTA
          - ROLE_DELETE_CHECKER
          - ROLE_DELETE_CHECKIN
          - ROLE_DELETE_USER
          
    access_control:
        # All login-related routes can be access anonymously
        - { path: ^/connect/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        # All other routes are restricted at least to registered users
        # (but real access control is done using annotations and listeners)
        - { path: ^/, roles: ROLE_MIN }
