gmail-migration/*.csv
.DS_Store
.idea/*
docker-compose.override.yml
###> symfony/framework-bundle ###
.env
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
/bin/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
