<div align="center" class="dashboard_date_header">
    {% if previousDate is defined %}
        <a class="btn btn-outline-dark btn-sm" style="float:left" id='previousLink' href="{{ url('dashboard', { 'date': previousDate }) }}">&lt; Previous</a>
    {% endif %}

    <span class="currentPeriod"> <input type="date" id="date_selector" value="{{ currentMonth }}" /> </span>

    {% if nextDate is defined %}
        <a class="btn btn-outline-dark btn-sm" style="float:right" id='nextLink' href="{{ url('dashboard', { 'date': nextDate }) }}">Next &gt;</a>
    {% endif %}
</div>

<div align="center">
    <h3 style="color:blue">{{ currentMonth|formatDate(true) }}</h3>
</div>