{% include 'partials/template-wait-modal.html.twig' with {modal_type: "wait", modal_title: "Loading data..."} %}
    
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#general">General</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="general">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th width="30%">Field</th>
                                    <th width="30%">Value</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td>Status: </td>
                                    <td id="status"></td>
                                </tr>
                                <tr>
                                    <td>Begin date :</td>
                                    <td id="startDate"></td>
                                </tr>
                                <tr>
                                    <td>End date :</td>
                                    <td id="endDate"></td>
                                </tr>
                                <tr>
                                    <td>Amount: </td>
                                    <td id="amount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="Calendar" class="tabcontent">
    <div id="calendar-msg" align="center" style="margin-bottom:10px; color:red; font-weight: bold;"></div>
    <div id="calendar-holder"></div>
</div>

<script type="text/javascript">
function loadCalendar()
{
    $('#calendar-holder').fullCalendar({
        height: 720,
        
        //resourcesInitiallyExpanded : false,
        //slotWidth: '30',
        
        header: {
            left: 'prev, next',
            center: 'title',
            right: ''
        },
        
        views: {
            month: {
                //titleFormat: '[Week from] D MMMM YYYY',
                //titleRangeSeparator: ' to ',
                slotLabelFormat: 'ddd\n D',
            }
        },
    
        defaultView: 'timelineMonth',
        
        lazyFetching: true,
        editable: false,
        selectable: false,
        selectHelper: false,
        fixedWeekCount: false,
        
        resourceLabelText: 'Properties',
        resourceAreaWidth: '10%',
        resourceGroupField: 'market',

        resources: {
            url: '/ajaxGetResource',
            type: 'POST',
            
            error: function () {
                $('#calendar-msg').html('Cannot fetch resources for FullCalendar...');
                $('#waitingDialog').modal('hide');
            }
        },
        
        eventSources: [
            {
                url: '/fc-load-events',
                type: 'POST',
                data: {
                    //mode: 'property', propertyId: 293
                    mode: 'market', marketId: {{ selectedMarket }}
                    //mode: 'all',
                },
                cache: true,
                error: function () {
                    $('#calendar-msg').html('Cannot fetch events for FullCalendar...');
                    $('#waitingDialog').modal('hide');
                }
            }
        ],
        
        loading: function (bool) {
            // Reset flag
            eventRenderFinished = false;
            
            $('#waitingDialog').modal('show');
            //$("#calendar-holder").css({"visibility": "hidden"});
            
            // Synchronisation between loading events and modal
            $('#waitingDialog').on('shown.bs.modal', function (e) {
                // Check if all events has already been rendered
                if (eventRenderFinished == true)
                {
                    // Hide immediately the modal 
                    $('#waitingDialog').modal('hide');
                }
            })
        },
        eventAfterAllRender: function (view) {
            $('#waitingDialog').modal('hide');
            //$("#calendar-holder").css({"visibility": "visible"});
            
            // All events has been rendered
            eventRenderFinished = true;
        },
        
        dayClick: function(date, jsEvent, view, resourceObj) {
            // Trigger when user click on a cell 
            //alert('Date: ' + date.format());
            //alert('Resource ID: ' + resourceObj.id);
        },

        eventClick: function(event, jsEvent, view) {
            //console.log(event);
            //console.log(event.start);
            //console.log(view);
            // Create our number formatter.
            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'EUR',
                minimumFractionDigits: 2,
            });

            if (!event.status) {
                $('#status').html("<span style='color:gray'>Not available</span>");
                $('#modalTitle').html("Blocked date");
            } else {
                $('#status').html("<span style='color:blue'>" + event.status.toUpperCase() + "</span>");
                $('#modalTitle').html("Reservation - " + event.title);
            }
            
            $('#startDate').html(event.start.format('dddd D MMMM'));
            $('#endDate').html(event.end.format('dddd D MMMM'));
            $('#amount').html(formatter.format(event.amount / 100));
            $('#modal').modal();
        },

        eventRender: function(event, element) {
            if (!event.status) {
                //element.append("<span style='font-weight: bold; font-size: 1.1em'>" + "Owner coming back" + "</span>");
                //element.find('.fc-title').text(".fc-reservation");
                $(element).css('font-weight', 'bold');
            }
            else {
                //$(element).css('font-size', '1.1em');
            }
        }
    });
}
</script>