<style>
.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
</style>

<div class="modal fade" id="waitingDialog" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% if modal_type == 'wait' %}
                        <span class="glyphicon glyphicon-time"></span>{{ modal_title }}
                    {% endif %}
                 </h4>
            </div>
            <div id="modalBody" class="modal-body">
                {% if modal_type == 'wait' %}
                    <div class="loader"></div>
                {% else %}
                
                {% endif %}
            </div>
        </div>
    </div>
</div>