/* === Top-level elements === */

#main-navbar-menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
#main-navbar-menu:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#main-navbar-menu li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

#main-navbar-menu li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

#main-navbar-menu > li {
  float: left;
  width: auto;
}

#main-navbar-menu > li > a {
  color: #ffffff;
  padding: 6px 20px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 14px;
  z-index: 2;
  position: relative;

}

#main-navbar-menu > li.right {
  float: right;
}

/* === Highlight of first-level elements === */

#main-navbar-menu > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #ffffff;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

#main-navbar-menu > li:hover:after,
#main-navbar-menu > li.active:after {
  height: 100%;
}
#main-navbar-menu > li:hover > a,
#main-navbar-menu > li.active > a {
  color: #000000;
}
#main-navbar-menu > li:hover > a:after,
#main-navbar-menu > li.active > a:after {
  background: #000000;
}
#main-navbar-menu > li:hover > a:before,
#main-navbar-menu > li.active > a:before {
  border-top-color: #ffffff;
}

/* === First-level drop-down activation === */

#main-navbar-menu ul {
  border-top: 1px solid white;
  padding-left: 0px;
}

#main-navbar-menu li ul {
  position: absolute;
  left: -9999px;
  top: auto;
  margin-top: 0;
  z-index: 100; /* to always display the dropdown menu at foreground */
}

#main-navbar-menu > li:hover > ul {
  left: 0;
}

#main-navbar-menu > li > ul > li {
  width: 170px;
  display: block;
  background: #4eb980;
}

/* === First-level drop-down icon === */

#main-navbar-menu > li.has-sub > a {
  padding-right: 35px;
}

#main-navbar-menu > li.has-sub > a:after {
  display: block;
  content: "";
  background: #ffffff;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 8px;
}
#main-navbar-menu > li.has-sub > a:before {
  display: block;
  content: "";
  border: 4px solid transparent;
  border-top-color: #4eb980;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 13px;
}

/* === First-level drop-down elements === */

#main-navbar-menu li ul li a {
  font-size: 14px;
  text-transform: none;
  color: white;
  letter-spacing: 0;
  display: block;
  width: 170px;
  padding: 11px 10px 11px 20px;
}

#main-navbar-menu li ul li:hover {
  background: white;
  border: 1px solid #4eb980;
  margin: 0px -5px -1px 0px;
  padding: -1px;
}

#main-navbar-menu li ul li:hover > a,
#main-navbar-menu li ul li.active > a {
  color: black;
}
#main-navbar-menu li ul li:hover:after,
#main-navbar-menu li ul li.active:after {
  background: white;
}
