{% extends '@EasyAdmin/default/new.html.twig' %}
  
{% block entity_form %}
    {{ parent() }}

    <div id="modal-confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Do you really want to create this Checkin ?</h4>
                    <p>An email will be automatically sent to <span id="checkername"></span>. There is no undo for this operation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">
                        Cancel
                    </button>

                    <button type="button" data-dismiss="modal" class="btn btn-success" id="modal-confirm-button" formtarget="_self">
                       <i class="fa fa-check"></i>Confirm !
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
                    
    {{ include('easy_admin/jsCheckin.html.twig') }}
{% endblock %}
