{% extends 'base.html.twig' %}

{% block content %}

    <div id="exports">

        <h2>Reservations</h2>
        <p>Export all reservations
            <form method="post">
                <input name="export_reservations" type="submit" value="Download" />
            </form>
        </p>

    </div>

{% endblock %}
