{% extends 'base.html.twig' %}

{% block content %}

    <div class="login-panel">

        <p class="login-error">{{ error }}</p>

        <img class="login-logo" src="https://www.drupal.org/files/project-images/no-entry.jpg" />

        <p>Please <a href="?start=1">log in</a></p>

    </div>

{% endblock %}
